@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to GC Coffee Shop!</h1>
    <h3><a href="https://localhost:44399/User/Registration">Register</a></h3>
</div>
